{% extends 'producao/modelo.html' %}

{% load static %}

{% block conteudo %}
<h1>Serradas 2</h1>
<a href="{% url 'lista-serrada2' %}" class="btn btn-primary btn-sm">Novo</a>
<hr>
<div class="table-responsive">
    <table class="table table-striped" id="tabela-listar-serrada">
    <thead>
        <tr>
            <th>Mês</th>
            <th>Máquina</th>
            <th>m2</th>
            <th>Qtde Ch</th>
            <th>m3 bru</th>
            <th>m3 liq</th>
            <th>m3 Perda</th>
            <th>Prd Fio m2</th>
            <th>Custo m2</th>
        </tr>
    </thead>
    <tbody>
        {% for view_serrada in object_list %}
        <tr>

            <td>{{ view_serrada.data_final| date:"m" }}</td>
            <td>{{ view_serrada.maquina }}</td>
            <td>{{ view_serrada.m2 }}</td>
            <td>{{ view_serrada.qtde_chapas }}</td>
            <td>{{ view_serrada.m3_bruto }}</td>
            <td>{{ view_serrada.m3_liquido }}</td>
            <td>{{ view_serrada.m3_perda }}</td>            
            
            <td>{{ view_serrada.qtde_fios }}</td>
            <td>{{ view_serrada.prd_fio_m2 }}</td>
            <td>{{ view_serrada.custo_fio_por_m2 }}</td>


        </tr>

        {% empty %}
        <tr>
            <td colspan="4">Nenhum registro encontrado</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $("#tabela-listar-serrada").DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
    })
</script>
{% endblock %}
